name: CI 

on: 
  push:
    branches:
      - main

jobs:
  backend:
    runs-on: ubuntu-latest
    steps: 
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME}}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
        
      - name: Build and push DockerBackend image
        uses: docker/build-push-action@v4
        with:
            context: ./api
            push: true #для дальнешего kuber
            tags: |
                user/qr-backend:latest
                user/qr-backend:${{ github.sha }}
       

  frontend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME}}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
        
      - name: Build and push DockerBackend image
        uses: docker/build-push-action@v4
        with:
            context: ./front-end-nextjs
            push: true #для дальнешего kuber
            tags: |
                user/qr-frontend:latest
                user/qr-frontend:${{ github.sha }}